<!DOCTYPE html>
<html>
    <head>
	  <title>Add film</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
<body>
	<div class="container">
	  <div class="jumbotron">
	    <h1>Add film</h1>
	  </div>
	{% from "_formhelpers.html" import render_field %}
	<form method=post action="/add_film">
	  <dl>
	    {{ render_field(form.title) }}
	    {{ render_field(form.genre) }}
	    {{ render_field(form.year_created) }}
	    {{ render_field(form.direction) }}
	  </dl>
	  <p><input type=submit value="Add film">
	</form>
</div>
</body>
</html>
