<!DOCTYPE html>
<html>
    <head>
	  <title>Details</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
<body>
	<div class="container">
	  <div class="jumbotron">
	    <h1>Details</h1>
	  </div>

	<br>
	Tytuł: {{item["title"]}}
	<br>	
	Typ: {{item["type"]}}
	<br>
	Rok produkcji: {{item["year_created"]}}
	<br>
	Reżyseria: {{item["direction"]}}
        <br><br>
	OCENY 
	<br>
	{% if item["ratings"] %}   
		{% for rating in item["ratings"] %}		
			<b>{{rating["username"]}}</b>
			{{rating["rating"]}}
			<br>
		{% endfor %}
        {% else %}
		nie ma rejtsów
		<br>
        {% endif %}
	<br>
	KOMENTARZE
        <br>
	{% if item["comments"] %}   
		{% for comment in item["comments"] %}
			<b>{{comment["username"]}}</b>
			<br>	
			"{{comment["content"]}}"
			<br>	
		{% endfor %}
	{% else %}
		nie ma komciów
		<br>
	{% endif %}
	</div>
</body>
</html>
