<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>Filmy</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3><a href="{{ url_for('add_film') }}">Dodaj film </a></h3>
	<br><hr> 
	    {% for item in movies_list %}
	<br>
	Tytuł:
	<a href="{{ url_for('show_details', title=item['title']) }}">{{item["title"]}}</a>
	<br>	
	Typ: {{item["type"]}}
	<br>
	Rok produkcji: {{item["year_created"]}}
	<br>
	Reżyseria: {{item["direction"]}}
        <br>
	<hr>
    {% endfor %}

    {% for x in range(1,possible_sites_amount+1) %}	
	<a href="{{ url_for('main', site_nr=x, per_site=per_site) }}">{{x}}</a>
    {% endfor %}
	<br>
    {% if site_nr!=1 %}
	<a href="{{ url_for('main', site_nr=1, per_site=per_site) }}">Pierwszy</a>
	<a href="{{ url_for('main', site_nr=site_nr-1, per_site=per_site) }}">Poprzedni</a>
    {% endif %}
    {% if site_nr!=possible_sites_amount%}
	<a href="{{ url_for('main', site_nr=site_nr+1, per_site=per_site) }}">Następny</a>
	<a href="{{ url_for('main', site_nr=possible_sites_amount, per_site=per_site) }}">Ostatni</a>
    {% endif %}
    </div>
  </div>
</div>

</body>
</html>
