<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login page</title>
    </head>
<body>

{% from "_formhelpers.html" import render_field %}
<form method=post action="/login">
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
  </dl>
  <p><input type=submit value="Login">
</form>

</body>
</html>
